<footer>
    <div class="footer">
        <div class="container">
            <p>&copy; 2018 KarolKemicals<span class="pull-right">  <a href="#"><i class="icon-question-sign"></i> Ajuda</a></span></p>
            @*<p>&copy; 2018 KarolKemicals<span class="pull-right">Ambiente: @System.Configuration.ConfigurationManager.AppSettings["webpages:Ambiente"] - Versão: @System.Configuration.ConfigurationManager.AppSettings["webpages:Version"] <a href="#"><i class="icon-question-sign"></i> Ajuda</a></span></p>*@
        </div>
    </div>
</footer>
